# Konversi Struktur Data

Fungsi untuk mengubah/konversi struktur data:

a. `list()`: untuk mengubah menjadi list

b. `tuple()`: untuk mengubah menjadi tuple

c. `set()`: untuk mengubah menjadi set

d. `dict()`: untuk mengubag menjadi dictionary

### Mengkonversi tipe data list

In [ ]:
#Membuat 2 list
L1 = [1, 2, 3, 4]
L2 = [5, 6, 7, 8]

In [ ]:
#Mengkonversi struktur data list
k_tuple = tuple(L1)
k_set = set(L2)
k_dict = dict(zip(L1, L2))
#Melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

(1, 2, 3, 4)
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

### Mengkonversi tipe data tuple

In [ ]:
#Membuat 2 tuple
T1 = (1, 2, 3, 4)
T2 = (5, 6, 7, 8)

In [ ]:
#Mengkonversi struktur data tuple
k_list = list(T1)
k_set = set(T2)
k_dict = dict(zip(T1, T2))
#Melihat data yang telah dikonversi
print(k_list)
print(k_set)
print(k_dict)

[1, 2, 3, 4]
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

### Mengkonversi tipe data set

In [ ]:
#Membuat 2 set
S1 = {1, 2, 3, 4}
S2 = {5, 6, 7, 8}

In [ ]:
#Mengkonversi struktur data set
k_list = list(S1)
k_tuple = tuple(S2)
k_dict = dict(zip(S1, S2))
#Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_dict)

[1, 2, 3, 4]
(8, 5, 6, 7)
{1: 8, 2: 5, 3: 6, 4: 7}

### Mengkonversi tipe data dictionary

In [ ]:
#Membuat dictionary
D = {
    "nama": "Andi",
    "alamat": "Yogyakarta",
    "umur": 20
}

In [ ]:
#Mengkonversi struktur data dictionary dari key dan value
k_list = list(D.keys())
k_tuple = tuple(D.values())
k_set = set(D.keys())
#Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_set)

['nama', 'alamat', 'umur']
('Andi', 'Yogyakarta', 20)
{'umur', 'nama', 'alamat'}

## Latihan

**Tipe data list**

In [1]:
#Membuat list
L1 = [3, 7, 11, 14]
L2 = ["Ya", "q", 5]

In [2]:
#Mengkonversi data
k_tuple = tuple(L1)
k_set = set(L2)
k_dict = dict(zip(L1, L2))
#Hasil konversi
print(k_tuple)
print(k_set)
print(k_dict)

(3, 7, 11, 14)
{'Ya', 5, 'q'}
{3: 'Ya', 7: 'q', 11: 5}

**Tipe data tuple**

In [3]:
#Membuat tuple
T1 = (3, "kita", False, 5+3j)
T2 = (15, 9.25, True, 9.25)

In [4]:
#Mengkonversi data
k_list = list(T1)
k_set = set(T2)
k_dict = dict(zip(T1, T2))
#Hasil konversi
print(k_list)
print(k_set)
print(k_dict)

[3, 'kita', False, (5+3j)]
{9.25, True, 15}
{3: 15, 'kita': 9.25, False: True, (5+3j): 9.25}

**Tipe data set**

In [5]:
#Membuat set
S1 = {4, "enam", False, 4-7j}
S2 = {3, 8, 14, 19}

In [6]:
#Mengkonversi data
k_list = list(S1)
k_tuple = tuple(S2)
k_dict = dict(zip(S1, S2))
#Hasil konversi
print(k_list)
print(k_tuple)
print(k_dict)

[False, 4, 'enam', (4-7j)]
(8, 19, 3, 14)
{False: 8, 4: 19, 'enam': 3, (4-7j): 14}

**Tipe data dictionary**

In [7]:
#Membuat dictionary
D = {
    "kelas" : "Dasar Python",
     "prodi" : "Matematika",
     "fakultas" : "FAST UAD"
}

In [9]:
#Mengkonversi data
k_list = list(D.keys())
k_tuple = tuple(D.values())
k_set = set(D.keys())
#Hasil konversi
print(k_list)
print(k_tuple)
print(k_set)

['kelas', 'prodi', 'fakultas']
('Dasar Python', 'Matematika', 'FAST UAD')
{'kelas', 'prodi', 'fakultas'}