# Looping/Perulangan

### For Loop

Perulangan`for` digunakan untuk melakukan iterasi di dalam `sequence` seperti `list, tuple, string` dan `array` atau objek yang dapat diiterasi lainnya.

**For loop syntax**

In [ ]:
for val in sequence:
    loop body

Example: Python for Loop

In [1]:
#Program untuk menghitung jumlah semua angka dalam sebuah list
L1 = [2, 4, 5, 7, 9]
jumlah = 0

# iterasi di dalam list
for i in L1:
   jumlah = jumlah + i

print(jumlah)

27

### The range() function

In [3]:
#Program untuk melakukan iterasi di dalam list melalui indeks
minuman = ["teh", "boba", "kopi", "susu"]
p = len(minuman)

#iterasi di dalam list melalui indeks
for i in range(p):
  print(minuman[i])

teh
boba
kopi
susu

### For loop with else

In [5]:
#Contoh untuk loop menggunakan else
for i in range(p):
    print(minuman[i])
else:
    print("Elemen sudah habis")

teh
boba
kopi
susu
Elemen sudah habis

## Latihan 1

In [8]:
list_tagihan = [50000, 75000, -1500000, 125000, 300000, -50000, 200000]
jumlah = 0

#Iterasi di dalam list
for i in list_tagihan:
    jumlah = jumlah + i

print(jumlah)

-800000

# While Loop

While loop pada Python digunakan untuk melakukan iterasi pada blok kode selama nilai dari `resr expresion` adalah `true`.

**Syntax while loop in Python**

In [ ]:
while test_expression:
    body of while

**Example: Python while loop**

In [16]:
#Program untuk menjumlahkan semua
#Bilangan asli hingga suku ke-n
#jum = 1+2+3+...+n

n = 10
jumlah = 0
i = 1

while i <= n:
  jumlah = jumlah + i
  i = i + 1

print(jumlah)

55

### While loop with else

Sama dengan `foor loop`, kita dapat mengkombinasikan `while loop` dengan blok `else`.

Bagian `else` akan dieksekusi jika nilai pada `test expression` pada `while loop` bernilai false.

In [17]:
jum = 0
i = 1
while i <= n:
  jum = jum + i
  i = i +1
else:
  print(jum)   #dieksekusi di luar looping

55

## Latihan 2

In [23]:
tagihan = [50000, 75000, 125000, 300000, 200000]
i = 1
n = 5

while i <= n:
  jumlah = jumlah + i
  i = i + 1
print(jumlah)

70